@media only screen and (max-width: 600px) {
    #welcome-section {
      background-color: red;
    }
  }

  #welcome-section{
      height: 100vh;
  }

  #navbar{
      position: fixed;
      top: 0;
  }